
{% for e in events %}
<div>
<h1>{{e.event_name}}</h1>
<div>  <img src="e.event_image" </div>
<h6>{{e.description}}</h6>
<a href='/events/registered/{{e.event_name}}'>View Registered Users</a><br>

<button data-toggle="collapse" data-target="#demo">View Registered Users</button>
<div id="demo" class="collapse">
{%for key,values in register.items%}

{% if key == e.event_name %}
 {%for v in values%}
{{v.user_id.user_name}}
<a href='/events/remove-user/{{e.event_name}}/{{v.user_id.user_id}}'>Remove user</a>

{%endfor%}
{% endif %}
{%endfor%}


</div>
<a href='/uploadFiles/upload-files/{{e.event_name}}'>Upload files </a>
</div>

{% endfor %}