{% extends "./base.html" %}
{% block content %}

  <div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;background: linear-gradient(120deg,#57d2ff,#b260ff);">
    <div class="card m-auto bg-light p-2 text-center shadow" style="max-width: 360px;border-radius: 50px ;">
      <div class="card-body d-flex flex-column ">
        <h3 class="card-title" style="text-align:center;font-family: 'Montserrat Subrayada', sans-serif;">Change Password</h3>
        <p style="text-align:center;color:red">{{status}}</p> 
         <form class="row register-form" method="POST" action="/users/change-password" enctype="multipart/form-data">{% csrf_token %}
            <div class="col-md-12">
                <div class="form-group animate__animated animate__zoomIn"  >
                    <input type="password" class="form-control" placeholder="Old Password *" value="" name='old-password' required  style="border-radius:50px; border-color:#00c6ff"/>
                </div>
                <div class="form-group animate__animated animate__zoomIn"  >
                    <input type="password" class="form-control" placeholder="New Password *" value="" name='new-password' requiredpattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength=8 maxlength=20 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" style="border-radius:50px; border-color:#00c6ff"/>
                </div>
                <div class="form-group animate__animated animate__zoomIn"  >
                    <input type="password" class="form-control" placeholder="Confirm Password *" value="" name='re-password' requiredpattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength=8 maxlength=20 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" style="border-radius:50px; border-color:#00c6ff"/>
                </div>
                
                <input type="submit" class="shadow btn btn-dark m-2" style="border-radius:50px" value="Change "/>
            </div>
        </form>

      </div>
    </div>
  </div>

{% endblock content %}