
<h1>Change Password</h1>
<p style="text-align:center;color:red">{{status}}</p> 
<form method="POST" action="/users/change-password">{% csrf_token %}
Old Password<input type="password" name='old-password' required placeholder="Enter old Password *" >

New Password<input type= 'password' name= 'new-password' required placeholder="Enter new Password *" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength=8 maxlength=20 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">

Re-enter new password<input type='password' name='re-password'required placeholder="Re-enter new Password * " pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength=8 maxlength=20 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
<input type="submit" value="save">
</form>