{% extends "./base.html" %}
{% block content %}

  <div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;background: linear-gradient(120deg,#57d2ff,#b260ff);">
    <div class="card m-auto bg-light p-2 text-center shadow" style="max-width: 360px;border-radius: 50px ;">
      <div class="card-body d-flex flex-column ">
        <h3 class="card-title" style="text-align:center;font-family: 'Montserrat Subrayada', sans-serif;">Forgot Password</h3>
        <p style="text-align:center;color:red">{{status}}</p> 
         <form class="row register-form" method="POST" action="/users/forgot-password" enctype="multipart/form-data">{% csrf_token %}
            <div class="col-md-12">
                <div class="form-group animate__animated animate__zoomIn"  >
                    <input type="text" class="form-control" placeholder="Username *" value="" name='user_name' required  style="border-radius:50px; border-color:#00c6ff"/>
                </div>                
                <input type="submit" class="shadow btn btn-primary m-2" style="border-radius:50px" value="Proceed... "/>
            </div>
        </form>

      </div>
    </div>
  </div>
{% endblock content %}