{% extends "./base.html" %}
{% block content %}

  <div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;background: linear-gradient(120deg,#57d2ff,#b260ff);">
    <div class="card m-auto bg-light p-2 text-center shadow" style="max-width: 560px;border-radius: 50px ;">
      <div class="card-img-top">
        <img src="https://picprocurestorageaccount.blob.core.windows.net/profile-pics/{{user.profile_pic}}" class="rounded-circle p-1 shadow-lg" alt="Profile Pic" style="width: 150px;height:150px;background: linear-gradient(270deg,#57d2ff,#b260ff);">
      </div>
      <div class="card-body d-flex flex-column ">
        <h5 class="card-title">{{user.user_name}}</h5>
        <div class="d-flex justify-content-around align-items-center">
           <!-- <div class="d-flex justify-content-center align-items-center m-1"><small class="mx-1">total events created:</small>
            <h5>{{count}}</h5>
          </div> -->
          
        </div> 
        <div class="d-flex justify-content-center align-items-center">
          <a href="/events/my-events" class="shadow btn btn-primary m-2" style="border-radius:50px">My Events</a>
          <a href="/users/edit-profile" class="shadow btn btn-dark m-2" style="border-radius:50px">Edit<i class="fa fa-edit ml-2"></i></a>
        </div>
        <div class="row">
            <div class="col-md-6">
            <p style="font-weight:bold">First Name</p>
            <p style="font-weight:bold">Last Name</p>
            <p style="font-weight:bold">Email</p>
            </div>
            <div class="col-md-6">
            <p>{{user.first_name}}</p>
            <p> {{user.last_name}}</p>
            <p>{{user.email_id}}</p>
            </div>
        </div>
<a href="/users/delete-account" class="shadow btn btn-danger m-2" style="border-radius:50px">Remove Account</a>
   
      </div>
    </div>
  </div>

{% endblock content %}