
<h1>{{mssg}}</h1>
<h2>{{status}}</h2>
<form method="POST" action='/users/reset-password'>{% csrf_token %}
User name<input type='text' name='user_name' required>
access code<input type="text" name='access_code' required>
 new pass<input type='password' name='new-password' required placeholder="Enter new Password *" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength=8 maxlength=20 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
re-enter<input type='password' name='re-password' required placeholder="Re-enter new Password * " pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength=8 maxlength=20 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
<input type='submit' value="set">
</form>